## **Oktatónkénti tanulószám**

In [ ]:
SELECT o.nev AS Oktató, COUNT(DISTINCT tf.tanulo_fk) AS Tanulók_száma
FROM oktatok o
JOIN tanfolyam tf ON o.oktato_id = tf.oktato_fk
GROUP BY o.nev
ORDER BY Tanulók_száma DESC;

## **Hány járműve van az egyes oktatóknak és milyen típusból**

In [ ]:
SELECT o.nev AS Oktató, j.tipus, COUNT(*) AS Darab
FROM oktatok o
JOIN jarmu j ON o.oktato_id = j.oktato_fk
GROUP BY o.nev, j.tipus
ORDER BY o.nev, Darab DESC;

## **Sikeres és sikertelen vizsgák száma vizsgatípusonként**

In [ ]:
SELECT tipus, 
       SUM(CASE WHEN teljesitette = 1 THEN 1 ELSE 0 END) AS Sikeres, 
       SUM(CASE WHEN teljesitette = 0 THEN 1 ELSE 0 END) AS Sikertelen
FROM vizsga
GROUP BY tipus;

## **Tanulók, akik legalább két különböző típusú képzésen vettek részt**

In [ ]:
SELECT t.nev
FROM tanulo t
JOIN tanfolyam tf ON t.tanulo_id = tf.tanulo_fk
GROUP BY t.nev
HAVING COUNT(DISTINCT tf.tipus) >= 2;

## **Az a vizsgatípus, amelyből a legtöbb sikertelen próbálkozás volt**

In [ ]:
SELECT TOP 1 tipus, COUNT(*) AS Sikertelenek_száma
FROM vizsga
WHERE teljesitette = 0
GROUP BY tipus
ORDER BY COUNT(*) DESC;

## **Oktatók sorrendje az alapján, hogy tanulóik hány százalékban teljesítik a vizsgákat**

In [ ]:
SELECT 
    o.nev AS Oktató,
    COUNT(v.vizsga_id) AS Összes_vizsga,
    SUM(CASE WHEN v.teljesitette = 1 THEN 1 ELSE 0 END) AS Sikeres_vizsga,
    CAST(SUM(CASE WHEN v.teljesitette = 1 THEN 1 ELSE 0 END) * 100.0 / COUNT(v.vizsga_id) AS DECIMAL(5,2)) AS Sikerességi_arány
FROM oktatok o
JOIN tanfolyam tf ON o.oktato_id = tf.oktato_fk
JOIN vizsga v ON tf.tanfolyam_id = v.tanfolyam_fk
GROUP BY o.nev
ORDER BY Sikerességi_arány DESC;